* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*** GENERAL ***/
section {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 12% 73% 15%;
}
h3 {
    margin: 5px;
    font-weight: normal;
}
.reglage-son, .my-playlist, .new-playlist {
    width: 0;
    height: 100%;
    top: 0;
    left: 12vw;
    position: absolute;
    /* background-color: #313131; */
    transition: .6s;
}
.open-div {
    width: 88vw;
    z-index: 1;
}

/*** NAV ***/
nav {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(25%);
    background-color: #262626;
}
nav button {
    border: 0;
    background-color: #262626;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
}
nav button:hover h2 {
    opacity: 0;
}
nav button:hover i {
    opacity: 1;
}
nav button h2 {
    transition: .3s;
}
nav button i {
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    opacity: 0;
    font-size: 50px;
    transition: .7s;
}
nav button:first-child {
    color: #FF4DBE;
}
nav button:nth-child(2) {
    color: #B1FF4B;
}
nav button:nth-child(3) {
    color: #446FFB;
}
nav button:last-child {
    color: #FF4747;
}
.focus-btn {
    background-color: #313131;
    transition: .3s;
}

/*** LECTURE ***/

/* MAIN */
main {
    height: 100%;
    position: relative;
    display: grid;
    grid-template-rows: 50% 25% 5% 20%;
    z-index: -1;
    background-color: #313131;
}
main::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-image: url("../image/album-alt-j.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.2;
}

/* IMAGE RONDE */
.container-img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-img img {
    height: 90%;
    width: auto;
    border-radius: 50%;
    border: 1px solid #fff;
}

/* WAVE */
.container-wave {
    display: flex;
    justify-content: center;
}
.wave {
    height: 90%;
    width: 75%;
    display: flex;
    justify-content: space-between;
}
.one-wave {
    width: 1.2%;
    height: 100%;
    background-color: #FF4DBE;
}

/* PROGRESS BAR */
.container-progress {
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-bar {
    height: 10%;
    width: 90%;
    position: relative;
    background-color: #8A8A8A;
}
.progress-bar::before {
    content: "";
    height: 150%;
    width: 50%;
    top: -25%;
    position: absolute;
    background-color: #FF4DBE;
}
.progress-bar::after {
    content: "";
    height: 20px;
    width: 20px;
    top: calc(50% - 20px / 2);
    left: calc(50% - 20px / 2);
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
}

/* CONTROLS */


/* ASIDE */
aside {
    height: 100%;
    background-color: #262626;
    color: #FF4DBE;
    text-align: center;
}

/*** REGLAGE SON ***/

.reglage-son {
    background-color: #B1FF4B;
}

/*** MY PLAYLIST ***/

.my-playlist {
    background-color: #446FFB;
}

/*** NEW PLAYLIST ***/

.new-playlist {
    background-color: #FF4747;
}